# Ignore local data
knowledge/*
ollama_data/*
chroma_data/*
knowledge_stash/
prompts/

# Keep the folders for ease of use
!knowledge/.gitkeep
!ollama_data/.gitkeep
!chroma_data/.gitkeep

# Python
__pycache__/
*.pyc
.env

# System files
.DS_Store

# Agent
ARCHITECTURE.md
