# UI & Core
streamlit>=1.40.0
watchdog>=4.0.0

# AI Engine
ollama>=0.6.0
langchain==0.3.21
langchain-community==0.3.20

# Specialized Integrations
langchain-ollama==0.2.2
langchain-chroma==0.2.1
chromadb>=0.5.23

# Document Processing & Search
pypdf>=4.0.0
rank_bm25==0.2.2